* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    color: hsla(243, 87%, 12%, 1);
    font-family: 'Raleway', sans-serif;
}

p {
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.53px;
    font-family: 'Open Sans', sans-serif;
}

li {
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    list-style-type: none;
}


.logo {
    height: 24px;
    width: 80px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
}

img {
    width: 100%;
}

.row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-box {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

button{
    cursor: pointer;
}

.input-box input:focus {
    outline: 0;
}


nav {
    display: flex;
    justify-content: space-between;
    padding: 24px 24px 0px 24px;
    min-width: 375px;
}

.nav-list {
    display: flex;
    list-style: none;
    column-gap: 24px;
    font-family: 'Raleway', sans-serif;
}

.illustration {
    height: 225px;
    width: 304px;
    margin-top: 103px;

}

header h1 {
    margin-top: 40px;
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
}

header p {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    margin-top: 24px;
    width: 296px;

}

.input-box {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin-top: 32px;
    width: 304px;
}

header .email {
    height: 40px;
}


.email {
    padding: 21px;
}

header button {
    border: 0;
    color: white;
    background-color: hsla(221, 100%, 71%, 1);
    height: 40px;
    width: 304px;
    cursor: pointer;
}

.middle {
    margin-top: 90px;
    background-color: #f8f8fe;
    width: 100%;
}

.middle-flex {
    position: relative;
    width: 100%;
}


.cuve-img-mobile {
    position: absolute;
    top: 40px;
    max-height: 53px;
}

.cuve-img-dekstop {
    display: none;
}

.second-illustration {
    height: 241px;
    width: 320px;
    left: 28px;
    top: 93px;
    border-radius: 0px;

}

.article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    padding-bottom: 81px;
}

.article h4 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    color: hsla(243, 87%, 12%, 1);
}


.paragraphs {
    margin-top: 8px;
    padding: 24px 35px 0px 20px;
    color: hsla(243, 14%, 43%, 1);
}

.space {
    margin-top: 16px;
}



.article p {
    font-size: 10px;
    font-weight: 400;
    line-height: 18px;

    letter-spacing: 0.38px;

}

.arrow-link {
    width: 12px;
    height: 12px;
    margin-left: 8px;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 36px;
}

.fylo-link {
    color: hsla(170, 45%, 43%, 1);
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

hr {
    height: 1px;
    width:118px;
    margin-top: 5px;
    border: 0;
    background: #3DA08F;
}

.paragraphs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 280px;
    border-radius: 3.93px;
    background-color: hsla(0, 0%, 100%, 1);
    padding-left: 26px;
    padding-top: 24px;
    padding-bottom: 20px;

}

.cuve-dekstop {
    display: none;
}

.quote-img {
    width: 14px;
    height: auto;
    padding-bottom: 5px;
}

.quote-paragraph {

    font-size: 10px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.38px;
    text-align: start;
    width: 241.3px;
    padding: 0px 20px 0px 20px;
}

.profile-container {
    display: flex;
    padding-top: 11px;
    margin-left: 20px;
}

.profile-img {
    border-radius: 50%;
    width: 24px;
    height: 24px;
}

.quote-img {
    margin-left: 20px;
}

.profile-container h3 {
    font-size: 9px;
    line-height: 13px;
    letter-spacing: 0.45px;
    font-weight: 700;
}

.profile-container span {
    font-size: 6px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0.3px;
}

.info {
    display: flex;
    flex-direction: column;
    padding-left: 8px;

}

.info h4 {
    width: 58px;
}

.info span {
    width: 73px;
}

.signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: hsla(238, 22%, 44%, 1);
    color: white;
    min-width: 375px;
    width: 100%;
    padding: 54px 47px 71px 47px;


}


.signup h1 {
    color: white;
    font-size: 18px;
    line-height: 24px;
}

.signup p {
    font-size: 14px;
    line-height: 21px;
    width: 280px;
    margin-top: 16px;
}

.box-two {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    row-gap: 8px;
}


.signup-input {
   display: flex;
   justify-content: center;
   align-items: center;
padding: 11px 0px 9px 8px;
   font-size: 12px;
   width: 100%;
}

.signup button {
    width: 240px;
    height: 32px;
    color: white;
    background-color: hsla(221, 100%, 71%, 1);
    border: 0;
    border-radius: 1.47px;
}

.box-two {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box-two span {
    margin-top: 4px;
    display: none;

}

.review {
    order: 2;
}

.row h3,
span {
    text-align: start;
}

/*Footer section*/

.flex-footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
}

@media (min-width: 380px){
    .flex-footer{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}
footer {
    background-color: hsla(243, 87%, 12%, 1);
    color: white;
    padding: 65px 0px 42px 39px;
    min-width: 375px;
    width: 100%;
}

footer li{
    margin-top: 16px;
}

.logo-container img {
    width: 105px;
    height: 30px;
}

.mobile-icon {
    display: flex;
    align-items: center;
    margin-top: 32px;
    column-gap: 20px;
}

.mobile-icon img {
    width: 18px;
    height: 18px;
}

.email-icon {
    display: flex;
    align-items: center;
    margin-top: 16px;
    column-gap: 20px;
}

.email-icon img {
    width: 18px;
    height: 18px;
}


.column-two {
    margin-top: 32px;
}

.column-three {
    margin-top: 30px;
}

.column-four {
    margin-top: 32px;
}

.column-two li:hover {
    color: hsla(221, 100%, 71%, 1);
}

.column-three {
    margin-top: 60px;
}

.column-three li:hover {
    color: hsla(221, 100%, 71%, 1);
}

.column-four {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
    padding-right: 39px;
}


.column-four ul li {
    border: 2px solid white;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    text-align: center;
    padding-top: 5px;
    margin-left: 10px;
    cursor: pointer;
}

.column-four ul li:hover {
    color: hsla(221, 100%, 71%, 1);
    border: 1px solid hsla(221, 100%, 71%, 1);

}

@media (min-width:1440px) {
    .logo {
        height: 49px;
        width: 166px;
    }

    .nav-list {
        column-gap: 57px;
    }

    li {
        font-size: 16px;
        font-weight: 400;
    }

    header {
        max-width: 1440px;
    }

    .info span {
        width: 90px;
        font-size: 8px;
    }

    .middle {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse;
        padding: 0px 80px 107px 80px;
        width: 100%;
        margin-top: 0;
    }

    .fylo-link{
        font-size: 16px;
    }

    hr{
        width: 166px;
    }

    .middle-flex {
        margin-top: 164px;
        width: 100%;
    }

    .paragraps p {
        padding: 0;
    }

    .cuve-img-mobile {
        display: none;
    }

    .cuve-img-dekstop {
        display: block;
    }

    .cuve {
        top: 720px;
        position: absolute;
    }

    .row {
        display: flex;
        flex-direction: row;
        column-gap: 90px;
        margin-top: 101px;
        align-items: center;
        flex-direction: row-reverse;
    }

    header h1 {
        margin: 0;
        width: 627px;
        font-size: 40px;
        line-height: 60px;
        font-weight: 700;
    }

    header p {
        font-size: 17px;
        line-height: 24px;
        margin-top: 15px;
        width: 585px;
    }

    .illustration {
        margin-top: 0;
        width: 640px;
        height: 474px;
    }

    .input-box {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        column-gap: 16px;
        width: 100%;
    }

    .review {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: start;
    }

    header .email {
        height: 45px;
        width: 320px;
        border-radius: 3.13px;
        padding: 21px;
    }

    header button {
        height: 45px;
        width: 200px;
        border-radius: 3.125px;
    }

    .cuve-img {
        display: none;
    }

    .second-illustration {
        height: 409px;
        width: 542px;

    }

    .article {
        align-items: flex-start;
        text-align: start;
        margin-top: 0;
        padding-bottom: 0;
    }

    .article p {
        font-size: 13px;
        line-height: 23px;

    }

    .article h4 {
        font-size: 40px;
        line-height: 47px;
    }

    .paragraphs {
        text-align: start;
        width: 500px;
        margin-top: 23px;
    }

    .paragraphs{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items:flex-start;
    }
    

    .paragraphs p {
        width: 100%;
        width: 529px;
        margin-top: 16px;
        color: hsla(243, 87%, 12%, 1);
        font-size: 16px;
    }

    .quote-box {
        height: 215px;
        width: 356px;
        padding-bottom: 26px;
    }

    .signup {
        padding: 100px 120px 80px 80px;
        background-color: hsla(238, 22%, 44%, 1);
        color: white;
        display: flex;
        flex-direction: row;
        align-self: flex-start;
        text-align: start;
        justify-content: space-between;
        width: 100%;
    }

    .signup-input {
        padding: 21px;
    }

    .signup h1 {
        color: white;
        font-size: 32px;
        line-height: 48px;
        font-weight: 700;
    }

    .signup p {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.5px;
        width: 500px;
        margin-top: 17px;
        font-weight: 400;
    }

    .signup-input {
        width: 480px;
        height: 48px;
        border-radius: 3px;
    }

    label{
        font-size: 12px;
        font-weight: 400;
        line-height: 16.34px;
        letter-spacing: 0.4px;
        font-family: 'Open Sans', sans-serif;
        margin-left: 2px;
    }

    .signup button {
        height: 48px;
        color: white;
        background-color: hsla(221, 100%, 71%, 1);
        border: 0;
        border-radius: 6px;
        margin-top: 14px;
        font-size: 14px;
        font-weight: 700;
        line-height: 16px;
    }

    .box-two {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .box-two span {
        margin-top: 4px;
        font-size: 12px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0.4px;
    }

    .email{
       border: 1px solid green;
    }

    .email{
        border:2px solid red;
    }


    footer {
        display: flex;
        justify-content: space-between;
        width: 100%;
        background-color: hsla(243, 87%, 12%, 1);
        color: white;
        padding: 92px 260px 86px 80px;
    }

    .flex-footer{
        display: flex;
        flex-direction:row;
        width: 100%;
        justify-content: space-between;
        align-items: flex-start;
        text-align: start;
    }

    footer .row {
        align-items: flex-start;
        text-align: start;
    }

    footer li {
        list-style-type: none;
        margin-top: 16px;
    }

    .footer-logo {
        height: 39px;
        width: 135px;
    }

    .column-one {
        display: flex;
        flex-direction: column;
    }

    .icon {
        width: 18px;
        height: 18px;
    }

    .mobile-icon {
        display: flex;
        margin-top: 37px;
    }

    .mobile-icon p {
        margin-left: 20px;
    }

    .email-icon {
        display: flex;
        margin-top: 16px;
    }

    .email-icon p {
        margin-left: 20px;
    }

    .column-two {
        padding-top: 60px;
        margin-top: 0;
    }

    .column-two li:hover {
        color: hsla(221, 100%, 71%, 1);
    }

    .column-three {
        margin-top: 60px;
    }

    .column-three li:hover {
        color: hsla(221, 100%, 71%, 1);
    }

    .column-four {
        margin-top: 55px;
        align-items: flex-start;
    }

    .column-four ul li {
        border: 2px solid white;
        border-radius: 100%;
        width: 30px;
        height: 30px;
        text-align: center;
        padding-top: 5px;
        margin-left: 10px;
        cursor: pointer;
    }

    .column-four ul li:hover {
        color: hsla(221, 100%, 71%, 1);
        border: 1px solid hsla(221, 100%, 71%, 1);
        ;
    }

    ::placeholder {
        color: hsla(0, 0%, 76%, 1);
    }


}