* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px 24px 0px 24px;
}

h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    color: hsla(243, 87%, 12%, 1);
    font-family: 'Raleway', sans-serif;
}

p {
    font-size: 17px;
    font-weight: 100;
    line-height: 24px;
    letter-spacing: 0.53px;
    font-family: 'Barlow', sans-serif;
}

.logo {
    height: 24px;
    width: 80px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
}

img {
    width: 100%;
}

.row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.input-box {
    display: flex;
    justify-content: center;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    list-style: none;
    column-gap: 24px;
    font-family: 'Raleway', sans-serif;
}

li {
    cursor: pointer;
}

.illustration {
    height: 225px;
    width: 304px;
    margin-top: 103px;

}

header h1 {
    margin-top: 40px;
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
}

header p {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    margin-top: 24px;
    width: 296px;

}

.input-box {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin-top: 32px;
    width: 304px;
}

header .email {
    height: 40px;
}

header button {
    border: 0;
    color: white;
    background-color: hsla(221, 100%, 71%, 1);
    height: 40px;
    width: 304px;
    cursor: pointer;
}

.middle {
    margin-top: 90px;
    background-color: hsla(240, 75%, 98%, 1);

}

.main-middle {
    margin: 0 auto;
    background-color: hsla(240, 75%, 98%, 1);
}



.cuve-img {
    background-color: #F2F2F2;
}

.second-illustration {
    height: 241px;
    width: 320px;
    left: 28px;
    top: 93px;
    border-radius: 0px;

}

.article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

.article h4 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    color: hsla(243, 87%, 12%, 1);
}

.paragraphs {
    margin-top: 8px;
}

.article p {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin-top: 16px;

}

.arrow-link {
    width: 12px;
    height: 12px;
    margin-left: 8px;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 36px;
}

.fylo-link {
    color: hsla(170, 45%, 43%, 1);
    text-decoration: none;
    font-size: 12px;
}

.quote-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 280px;
    border-radius: 3.93px;
    background-color: hsla(0, 0%, 100%, 1);
    padding-left: 26px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 81px;
}

.quote-img {
    height: 54x;
    width: 14px;
    padding-bottom: 5px;
}

.quote-paragraph {

    font-size: 10px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.38px;
    text-align: start;
    width: 241.3px;
    padding: 0 20px 0 20px;
}

.profile-container {
    display: flex;
    padding-top: 11px;
    margin-left: 20px;
}

.profile-img {
    border-radius: 50%;
    width: 24px;
    height: 24px;
}

.quote-img{
    margin-left: 20px;
}

.profile-container h3 {
    font-size: 9px;
    line-height: 13px;
    letter-spacing: 0.45px;
    font-weight: 700;
}

.profile-container span {
    font-size: 6px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0.3px;
}

.info {
    display: flex;
    flex-direction: column;
    padding-left: 8px;

}

.info h4 {
    width: 58px;
}

.info span {
    width: 73px;
}

.singup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: hsla(238, 22%, 44%, 1);
    color: white;
    padding: 54px 47px 71px 48px;
}

.singup h1 {
    color: white;
    font-size: 18px;
    line-height: 24px;
}

.singup p {
    font-size: 14px;
    line-height: 21px;
    width: 280px;
    margin-top: 16px;
}

.box-two {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    row-gap: 8px;
}


.singup-input {
    width: 240px;
    height: 32px;
    border-radius: 3px;
    padding: 11px 100px 9px 8px;
}

.singup button {
    width: 240px;
    height: 32px;
    color: white;
    background-color: hsla(221, 100%, 71%, 1);
    border: 0;
    border-radius: 1.47px;
}

.box-two {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box-two span {
    margin-top: 4px;
    display: none;

}

.row h3,
span {
    text-align: start;
}

li {
    list-style-type: none;
}

/*Footer section*/

footer {
    background-color: hsla(243, 87%, 12%, 1);
    color: white;
    padding: 65px 0px 42px 39px;
}

.logo-container img {
    width: 105px;
    height: 30px;
}

.mobile-icon {
    display: flex;
    align-items: center;
    margin-top: 32px;
    column-gap: 20px;
}

.mobile-icon img {
    width: 18px;
    height: 18px;
}

.email-icon {
    display: flex;
    align-items: center;
    margin-top: 16px;
    column-gap: 20px;
}

.email-icon img {
    width: 18px;
    height: 18px;
}


.column-two {
    margin-top: 32px;
}

.column-three {
    margin-top: 30px;
}

.column-four {
    margin-top: 32px;
}

.column-two li:hover {
    color: hsla(221, 100%, 71%, 1);
}

.column-three {
    margin-top: 60px;
}

.column-three li:hover {
    color: hsla(221, 100%, 71%, 1);
}

.column-four {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
   padding-right: 39px;
}


.column-four ul li {
    border: 2px solid white;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    text-align: center;
    padding-top: 5px;
    margin-left: 10px;
    cursor: pointer;
}

.column-four ul li:hover {
    color: hsla(221, 100%, 71%, 1);
    border: 1px solid hsla(221, 100%, 71%, 1);
    
}

@media (min-width:1440px) {
    body {
        padding: 80px 80px 0px 80px;
    }

    .logo {
        height: 49px;
        width: 166px;
    }

    .nav-list {
        column-gap: 57px;
    }

    li {
        font-family: 'Barlow', sans-serif;
        font-size: 16px;
        font-weight: 400;
    }

    header{
        width: 100%;
        max-width: 1440px;
    }

    .middle {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 178px 80px 107px 80px;
        width: 100%;
    }

    .paragraps p{
        padding: 0;
    }

    .row {
        display: flex;
        flex-direction: row;
        column-gap: 55px;
        margin-top: 101px;
        align-items: center;
    }

    header h1 {
        margin: 0;
    }

    header p {
        margin-top: 15px;
    }

    .illustration {
        margin-top: 0;
        width: 640px;
        height: 474px;
    }

    .input-box {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        column-gap: 16px;
        width: 100%;
    }

    .review{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: start;
    }

    header .email {
        height: 45px;
        width: 320px;
        border-radius: 3.13px;
        padding: 21px;
    }

    header button {
        height: 45px;
        width: 200px;
        border-radius: 3.125px;
    }

    .cuve-img {
        display: none;
    }

    .second-illustration {
        height: 409px;
        width: 542px;

    }

    .article {
        align-items: flex-start;
        text-align: start;
        margin-top: 0;
    }

    .article h4 {
        font-size: 40px;
        line-height: 47px;
    }

    .paragraphs {
        text-align: start;
        width: 500px;
        margin-top: 23px;
    }

    .paragraphs p {
        width: 100%;
        margin-top: 16px;
    }

    .quote-box {
        height: 215px;
        width: 356px;
        padding-bottom: 26px;
    }

    .singup {
        padding: 100px 120px 80px 80px;
        background-color: hsla(238, 22%, 44%, 1);
        color: white;
        display: flex;
        flex-direction: row;
        align-self:flex-start;
        text-align: start;
        justify-content: space-between;
    }

    .singup-input {
        padding: 21px;
    }

    .singup h1 {
        color: white;
        font-size: 32px;
        line-height: 48px;
        font-weight: 700;
    }

    .singup p {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.5px;
        width: 500px;
        margin-top: 17px;
        font-weight: 400;
    }

    .singup-input {
        width: 480px;
        height: 48px;
        border-radius: 3px;
    }

    .singup button {
        width: 200px;
        height: 48px;
        color: white;
        background-color: hsla(221, 100%, 71%, 1);
        border: 0;
        border-radius: 6px;
        margin-top: 14px;
        font-size: 14px;
        font-weight: 700;
        line-height: 16px;
    }

    .box-two {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .box-two span {
        margin-top: 4px;
        font-size: 12px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0.4px;
    }

    footer {
        display: flex;
        justify-content: space-between;
        width: 100%;
        background-color: hsla(243, 87%, 12%, 1);
        color: white;
        padding: 92px 260px 86px 80px;
    }

    footer li {
        list-style-type: none;
        margin-top: 16px;
    }

    .footer-logo {
        height: 39px;
        width: 135px;
    }

    .column-one {
        display: flex;
        flex-direction: column;
    }

    .icon {
        width: 18px;
        height: 18px;
    }

    .mobile-icon {
        display: flex;
        margin-top: 37px;
    }

    .mobile-icon p {
        margin-left: 20px;
    }

    .email-icon {
        display: flex;
        margin-top: 16px;
    }

    .email-icon p {
        margin-left: 20px;
    }

    .column-two {
        padding-top: 60px;
        margin-top: 0;
    }

    .column-two li:hover {
        color: hsla(221, 100%, 71%, 1);
    }

    .column-three {
        margin-top: 60px;
    }

    .column-three li:hover {
        color: hsla(221, 100%, 71%, 1);
    }

    .column-four {
        margin-top: 55px;
        align-items: flex-start;
    }

    .column-four ul li {
        border: 2px solid white;
        border-radius: 100%;
        width: 30px;
        height: 30px;
        text-align: center;
        padding-top: 5px;
        margin-left: 10px;
        cursor: pointer;
    }

    .column-four ul li:hover {
        color: hsla(221, 100%, 71%, 1);
        border: 1px solid hsla(221, 100%, 71%, 1);
        ;
    }

    ::placeholder {
        color: hsla(0, 0%, 76%, 1);
    }


}